# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/app/others/static/BricolageGrotesque_18pt_Condensed-Bold.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-Light.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-Medium.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-Regular.ttf
src/app/others/static/BricolageGrotesque_18pt_Condensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-Bold.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-Light.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-Medium.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-Regular.ttf
src/app/others/static/BricolageGrotesque_18pt_SemiCondensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_18pt-Bold.ttf
src/app/others/static/BricolageGrotesque_18pt-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_18pt-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_18pt-Light.ttf
src/app/others/static/BricolageGrotesque_18pt-Medium.ttf
src/app/others/static/BricolageGrotesque_18pt-Regular.ttf
src/app/others/static/BricolageGrotesque_18pt-SemiBold.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-Bold.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-Light.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-Medium.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-Regular.ttf
src/app/others/static/BricolageGrotesque_28pt_Condensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-Bold.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-Light.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-Medium.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-Regular.ttf
src/app/others/static/BricolageGrotesque_28pt_SemiCondensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_28pt-Bold.ttf
src/app/others/static/BricolageGrotesque_28pt-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_28pt-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_28pt-Light.ttf
src/app/others/static/BricolageGrotesque_28pt-Medium.ttf
src/app/others/static/BricolageGrotesque_28pt-Regular.ttf
src/app/others/static/BricolageGrotesque_28pt-SemiBold.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-Bold.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-Light.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-Medium.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-Regular.ttf
src/app/others/static/BricolageGrotesque_36pt_Condensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-Bold.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-Light.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-Medium.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-Regular.ttf
src/app/others/static/BricolageGrotesque_36pt_SemiCondensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_36pt-Bold.ttf
src/app/others/static/BricolageGrotesque_36pt-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_36pt-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_36pt-Light.ttf
src/app/others/static/BricolageGrotesque_36pt-Medium.ttf
src/app/others/static/BricolageGrotesque_36pt-Regular.ttf
src/app/others/static/BricolageGrotesque_36pt-SemiBold.ttf
src/app/others/static/BricolageGrotesque_Condensed-Bold.ttf
src/app/others/static/BricolageGrotesque_Condensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_Condensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_Condensed-Light.ttf
src/app/others/static/BricolageGrotesque_Condensed-Medium.ttf
src/app/others/static/BricolageGrotesque_Condensed-Regular.ttf
src/app/others/static/BricolageGrotesque_Condensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-Bold.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-ExtraBold.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-ExtraLight.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-Light.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-Medium.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-Regular.ttf
src/app/others/static/BricolageGrotesque_SemiCondensed-SemiBold.ttf
src/app/others/static/BricolageGrotesque-Bold.ttf
#src/app/others/static/BricolageGrotesque-ExtraBold.ttf
src/app/others/static/BricolageGrotesque-ExtraLight.ttf
#src/app/others/static/BricolageGrotesque-Light.ttf
src/app/others/static/BricolageGrotesque-Medium.ttf
src/app/others/static/BricolageGrotesque-Regular.ttf
src/app/others/static/BricolageGrotesque-SemiBold.ttf